h1 {
  font-size: 56px;
  background: brown;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align:center;
    
}
h2 {
  font-size:50px;
  color:red;
  background-color:grey;
  border-style: outset;
}

p {
  font-family:"times new Roman",times, serif;
  font-size: 24px; text-align: leaft;
   background-color: lightyellow;
}


img{
  display: block;
  margin: 0 auto;
}